<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gdev.moneymanager">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/icon_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.MoneyManager">
        <activity android:name=".Activity.Monthly_expenses" android:theme="@style/Theme.Design.NoActionBar"></activity>
        <activity android:name=".Activity.Activity_Selecter_Contact" android:theme="@style/Theme.Design.NoActionBar"/>

        <receiver android:name=".Reciever.SmsBroadCast">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Activity.Server_Check"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Activity.Balance_Check"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Activity.HomeActivty"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".Activity.Form"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Activity.Slider_View"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Activity.SplashScreen"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>